@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-void: #000000;
  --color-starlight: #F5F5F7;
}

body {
  background: var(--bg-void);
  color: var(--color-starlight);
  font-family: 'Space Grotesk', sans-serif;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 2px;
}

* {
  -webkit-tap-highlight-color: transparent;
}
